<h1>Icone Fermeture Commerciale à l'Adresse</h1>
<div class="icon-container">
  <div class="icon-demo">
    <ng-container *ngFor="let s of styles">
      <h2>{{ s | titlecase }}</h2>
      <div class="icon-board">
        <ng-container *ngFor="let f of largeFontSizes">
          <app-icon-entry iconName="{{ s }}-fca" [iconSize]="f" [iconColor]="selectedColor"></app-icon-entry>
        </ng-container>
        <ng-container *ngFor="let f of smallFontSizes">
          <app-icon-entry iconName="{{ s }}-fca-sm" [iconSize]="f" [iconColor]="selectedColor"></app-icon-entry>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="icon-color-picker">
    <h2>Choisissez une couleur</h2>
    <div class="icon-color-picker-list">
      <div class="icon-color-picker-entry" *ngFor="let c of colors" [style.background]="c"
        [class.icon-color-selected]="isSelectedColor(c)" (click)="selectColor(c)">
      </div>
    </div>
  </div>
</div>
