
.icon-solid-fca-sm:before { content: '\e800'; } /* '' */
.icon-solid-fca:before { content: '\e801'; } /* '' */
.icon-regular-fca:before { content: '\e802'; } /* '' */
.icon-regular-fca-sm:before { content: '\e803'; } /* '' */